m4
contrib/env.sh
contrib/config.mk
*.cache
*.o
*.a
*.so


# http://www.gnu.org/software/autoconf

.dirstamp
/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/include/stamp-h2
/m4/
/config.guess
/config.sub
/config.status
/config.log
/ltmain.sh
/libtool

config.h
config.h.in
config.mk
liballocstool.pc
Makefile
Makefile.in
.deps