/autom4te*.cache
config*
m4/*
*.a
*.o
*.Po
aclocal.m4
compile
depcomp
install-sh
liballocstool.pc
libtool
ltmain.sh
Makefile
Makefile.in
missing
stamp-h1
contrib/dwarfidl
contrib/env.sh
src/.dirstamp
src/.deps/.dirstamp
